[defaults]
library = ./library/modules
module_utils = ./library/module_utils
action_plugins = ./library/plugins/action
terminal_plugins = ./library/plugins/terminal
network_group_modules = bigip, bigiq
